body {
   
    display: grid;
    color:#f9efe9;
    background-image: url("../images/b.jpg");
    width: 100%;
    
}

.home {
    
    display: block;
    height: 800px;
    font-family: Tahoma;
    text-align: center;
    
}
.navbar{
    
    padding: 20px;
    position: fixed;
}
.navbar a {
    color: #f9efe9;
    background-color: #19292f;
    padding-left: 10px;
    padding-right: 10px;
   
}

a:hover{
    background-color: blueviolet;
}
.home h1{
    padding-top: 300px;
    font: 600 1.5em/1 'Raleway', sans-serif;
    padding-left: 500px;
    padding-right: 500px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    top: 25%;
    
}

.home h3 {
    padding-bottom: 300px;
    
    padding-left: 500px;
    padding-right: 500px;
}
  
#accomodation {
    
    height: fit-content;
    display: grid;
   
}
#accomodation h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    padding-left: 300px;
    padding-right: 500px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
.sea-suite{
    display: inline-block;
    background-color: #180c24;
}
.sea-suite img{
    width: 50%;
    float: left;
}
.sea-suit p{
    float: right;
    font-size: medium;
}
i {
    color: blanchedalmond;
    
}
.deluxe-suite{
    display: inline-block;
    background-color: #180c24;
}
.deluxe-suite img{
    width: 50%;
    float: right;
}
.deluxe-suite p{
    float: left;
    width: 50%;
    font-size: medium;
}
.forest-suite{
    display: inline-block;
    background-color: #180c24;
}
.forest-suite img{
    width: 50%;
    float: left;
}
.forest-suite p{
    float: right;
    font-size: medium;
    width: 49%;
}

#activities{
    display: block;
    height: 800px;
    font-family: Tahoma;

}
#activities h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    padding-left: 300px;
    padding-right: 500px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
#activities h3{
    font-weight: bold;
    font-size: x-large;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
#activities p{
    font-size: medium;
}
#travel{
    display: block;
    height: 800px;
    font-family: Tahoma;
}
#travel h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    padding-left: 300px;
    padding-right: 500px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
#travel li{
    font-size: x-large;
    list-style-type: square;
    line-height: 3;

}
#travel h3{
    font-weight: bold;
    font-size: xx-large;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

#pictures{
    display: block;
    height: 600px;
}
#pictures h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    padding-left: 300px;
    padding-right: 500px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
.gallery{
    display: inline;
}
.gallery img{
    width:30%;
}
.contact{
    display: block;
    height: 200px;
    background-color: #19292f;
    color: blanchedalmond;

}
.contact h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    padding-left: 300px;
    padding-right: 500px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
.contacts{
    
    display: inline-block;
}

.contacts div{
    display: inline-block;
    padding-right: 200px;
}
